ul { /*unordered list styling*/
    list-style: none;
    display: inline;
}

li { /*list styling*/
    float: left;
    width: 32%;
}

h2 { /*header 2 styling*/
    padding-left: 20%;
}

input { /*input styling*/
    float: left;
    text-align: left;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: medium;
}

.searchbar { /*searchbar styling*/
    width: 15%;
}

.submitbutton{ /*submit button styling*/
    margin-right: 10%;
}

img { /*image styling*/
    float: left;
    width: 80%;
    margin-right: 1%;
    margin-bottom: 0.5em; 
    object-fit: fill;
    text-align: center;
}

/*background styling for all types below*/

.image-grasspoison{
    background-image: linear-gradient(to top right, green, rgb(179, 0, 179));
}

.image-fire {
    background-color: red;
}

.image-fireflying {
    background-image: linear-gradient(to top right, red, lightgray);
}

.image-water {
    background-color: lightblue;
}

.image-bug {
    background-color: lightgreen;
}

.image-bugflying {
    background-image: linear-gradient(to top right, lightgreen, lightgray);
}

.image-bugpoison {
    background-image: linear-gradient(to top right, lightgreen, rgb(179, 0, 179));
}

.image-normalflying {
    background-image: linear-gradient(to top right, darkgray,lightgray);
}

.image-normal {
    background-color: darkgray;
}

footer{ /*footer styling*/
    margin-top: 1%;
    margin-left: 1%;
    font-weight: bold;
}

body { /*body styling*/
    padding-left: 8%;
    background: #FFCC00;
    font-family:'Courier New', Courier, monospace;
}

h1 { /*header 1 styling*/
    text-align: center;
    font-size: 36px;
}
